{
margin: 0;
padding:0;
box-sizing: border-box;
text-decoration:none;
}

.max-width{
    max-width: 1300px;
    padding:0 80px;
    margin: auto;
}

/*navbar styling*/
.navbar{
    position: fixed;
    width:100%;
    padding: 15px 0;
    background:dimgrey;
    font-family:'Montserrat', sans-serif;
    box-shadow: 0px 5px 40px 0px;
}

.navbar .max-width{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.navbar .logo a{
    color:white;
    font-size:35px;
    font-weight:600;
}

.navbar .menu li {
    list-style:none;
    display:inline-block;
}

.navbar .menu li a{
    color:white;
    font-size:18px;
    font-weight:500;
    margin-left: 25px;
}

main{
    position: relative;
}

main > aside {
    width: 150px;
    background-color: black;
    position: absolute;
    top: 0;
    bottom:0;
    margin:auto;

    padding: 10px;
}

main > section {
    margin-left: 180px;
}

main > section > p {
    margin: 0;
}

main > aside > nav > a {
    display: block;
    color:white;
    text-decoration:none;
    margin-bottom : 10px;
}