{
margin: 0;
padding:0;
box-sizing: border-box;
text-decoration:none;
}

html{
    scroll-behavior: smooth;
}
.max-width{
    max-width: 1300px;
    padding:0 80px;
    margin: auto;
}

/*navbar styling*/
.navbar{
    position: fixed;
    width:100%;
    padding: 30px 0;
    background:dimgrey;
    font-family:'Montserrat', sans-serif;
    box-shadow: 0px 5px 40px 0px;
    z-index: 999;
}

.navbar .max-width{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.navbar .logo a{
    color:white;
    font-size:35px;
    font-weight:600;
}

.navbar .logo a span{
    color: black;
}

.navbar .menu li {
    list-style:none;
    display:inline-block;
}

.navbar .menu li a{
    color:white;
    font-size:18px;
    font-weight:500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color:black;
}

.navbar.sticky .menu li a:hover{
    color: cadetblue;
}

/*menu btn styling*/
.menu-btn{
    color: dimgrey;
    font-size: 25px;
    cursor: pointer;
    display: none;
}
/*main{*/
/*    position: relative;*/
/*}*/

/*main > aside {*/
/*    width: 150px;*/
/*    background-color: black;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    bottom:0;*/
/*    margin:auto;*/

/*    padding: 10px;*/
/*}*/

/*main > section {*/
/*    margin-left: 180px;*/
/*}*/


/*main > aside > nav > a {*/
/*    display: block;*/
/*    color:white;*/
/*    text-decoration:none;*/
/*    margin-bottom : 10px;*/
/*}*/
.about .about-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/*home section styling*/
.home{
    display:flex;
    background:lightslategrey no-repeat center;
    height:100vh;
    background-size:contain ;
    background-attachment: fixed;
    color:black;
    min-height: 500px;
    font-family: 'Montserrat', sans-serif;

}
.home .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto ;
}

.home .home-content {
    width: 60%;
}

.home .home-img img {
    width: 350px;
    height: auto;
    object-fit: cover;
}

.dotted-circle {
    width: 325px;
    height: 325px;
    border: 5px dotted white; /* Adjust thickness and color here */
    border-radius: 50%;       /* Makes it a perfect circle */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home-img {
    position: relative;
    width: 375px; /* Size of the total area */
    height: 375px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 0px;
    margin-left: auto;
}

.home-img .main-img,
.home-img .hover-img {
    transition: opacity 0.5s ease;
}

.home-img .hover-img {
    position: absolute;
    opacity: 0; /* Invisible by default */
    z-index: 3; /* Sits higher than .main-img */
}

.home-img:hover .hover-img {
    opacity: 1; /* Shows the hover image */
}

.home-img:hover .main-img {
    opacity: 0; /* Hides the original image */
}
@media (max-width: 768px) {
    .home-img {
        margin: 20px auto; /* Centers the image on mobile */
    }
}


.dotted-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 6px dotted white;
    border-radius: 50%;

    animation: spin 8s linear infinite;
    z-index: 1;
}

.center-photo {
    width: 325px; /* Adjust size as needed */
    height: 325px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 2; /* Keeps photo on top */
    position: relative;
    border: 2px solid transparent;
}

/* Simple Rotation Animation */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.home .home-content .text-1{
    font-size: 30px;
    color:white;

}

.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

/*.home .home-content .text-2 .last-name {*/
/*    margin-left: 40px; !* Adjust this number to move it further right *!*/
/*    color: black;      !* Optional: Change color if you want it to stand out *!*/
/*    display: inline-block; !* Ensures the margin works correctly *!*/
/*}*/


.home .home-content .text-2 {
    display: inline-block;
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: 75px;
    font-weight: 600;
    margin-left: -10px;
    color: black;
}


.home .home-content .text-2:hover {
    color: white;
    transform: scale(1.05);
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
}

.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
    margin-left: 50px;
}

.home .home-content .text-3 span{
    color:white;
    font-weight: 500;
    font-size: 40px;
    margin: 5px 0;
    margin-left: 60px;
    text-shadow: 2px 2px 10px rgba(0,0,0,1);
}
.home .home-content a{
    display:inline-block;
    background: lightslategrey;
    color: white;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid grey;
    transition: all 0.3s ease;
}
/*.max-width{*/
/*    max-width: 800px;*/

/*}*/
.about .about-content .column{
    width:100%
}
.about .about-content .left{
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
}
.about .about-content .right{
    flex: 100%;
}


.home .home-content a:hover{
    color: dimgrey;
    background: none;
}


/*about section styling*/
section{
    padding:100px 0;
}
.about{
    font-family: 'Montserrat', sans-serif;
}
.about .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}
.about .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
}

.about .title::after{
    content: "Who I am ?";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: dimgrey;
    padding: 5px;
    background: white;
    transform: translateX(-50%);
}

.about .about-content{
    display: flex;
    flex-wrap:wrap ;
    align-items: center;
    justify-content: space-between;
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color:black;
}
.about .about-content .right p{
    text-align: justify;
}

.about .about-content .right a{
    display:inline-block;
    background: lightslategrey;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid grey;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover{
    color: dimgrey;
    background: none;
}


/*contact section styling*/
.contact .title::after{
    content: "get in touch";
}
.contact .contact-content .column{
    width:calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align:justify;
}
.contact .contact-content .left .icons{
    margin:10px 0 ;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: dimgrey;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: black;
}
.contact .right form .fields{
    display:flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height:45px;
    width:100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width:100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-left: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height:100%;
    width:100%;
    border:1px solid black;
    border-radius: 6px;
    outline:none;
    padding:0 15px;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form .button{
    height:47px;
    width:170px;
}
.contact .right form .button button{
    height:100%;
    width:100%;
    border: 2px solid lightslategrey;
    background: dimgrey;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .right form .button button:hover{
    background: none;
    color: white;
}





/*footer section styling*/
footer{
    background: black;
    padding: 20px 25px;
    color: lightslategrey;
}
footer span a{
    color: dimgrey;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}







/*responsive media query*/

@media(max-width: 1330px){
    .home .max-width{
        margin-left: 0px;
    }
}

@media(max-width: 1105px){
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media(max-width: 990px){
    .max-width{
        padding:0 50px;

    }
}

@media(max-width: 950px){

    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }


    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left:-100%;
        top:0;
        background: black;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active{
        left:0;

    }

    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2 {
        font-size: 70px;
    }
    .home .home-content .text-3 {
        font-size: 35px;
    }
    /*.home .home-content a{*/
    /*    font-size: 20px;*/
    /*    padding: 9px 25px;*/
    /*}*/
}

@media(max-width: 500px){
    .home .home-content .text-2 {
        font-size: 50px;
    }
    .home .home-content .text-3 {
        font-size: 25px;

    }
}